


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h3 {
    margin: 0 !important;
}

span {
    color: black;
}

button {
    cursor: pointer;
    background: #6785C1;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 24px 12px 24px;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
}

app-root {
    display: grid;
    height: 100vh;
}

.low-scale:hover {
    cursor: pointer !important;
    transform: scale(1.1);
}

select {
    width: 100%;
    height: 30px;
    border-radius: 6px;
}

.flex-center {
    justify-content: center;
    display: flex;
}

label {
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 6px;
    font-weight: 600;
}

input, select {
    height: auto;
    border: 2px solid black;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    width: -webkit-fill-available;
    padding: 2px 4px;
}

ag-grid-angular {
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5);
}

.pointer-events-none {
 pointer-events: none;   
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.hidden {
    display: none;
}