<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <mat-toolbar class="mat-toolbar">
    <div class="menu-bar-left-element">
      <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon class="mat-icon-menu">menu</mat-icon>
      </button>
      <div class="menu-header-logo-txt">
        <img
          src="../assets/GlobalLogo_NTTDATA_White.png"
          alt="Ntt Data"
          width="150px"
        />
        <h3 class="menu-nav-title">|&nbsp;&nbsp;Fleet Management System</h3>
      </div>
    </div>
    <div>
      <div class="user-actions-wrapper">
        <mat-icon class="low-scale">notifications</mat-icon>
        <app-auth-button/>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container autosize="true">
    <mat-sidenav
      [ngClass]="!isCollapsed ? 'expanded' : ''"
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="isMobile ? 'false' : 'true'"
    >
      <mat-nav-list>
        <a mat-list-item (click)="navigateTo('')">
          <span class="entry">
            <mat-icon>house</mat-icon>
            <span *ngIf="!isCollapsed">Dashboard</span>
          </span>
        </a>
        <a mat-list-item (click)="navigateTo('fleets')">
          <span class="entry">
            <mat-icon>drive_eta</mat-icon>
            <span *ngIf="!isCollapsed">Fleets</span>
          </span>
        </a>
        <a mat-list-item (click)="navigateTo('employees')">
          <span class="entry">
            <mat-icon>people</mat-icon>
            <span *ngIf="!isCollapsed">Employees</span>
          </span>
        </a>
        <a mat-list-item (click)="navigateTo('allocations')">
          <span class="entry">
            <mat-icon>timeline</mat-icon>
            <span *ngIf="!isCollapsed">Allocations</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav> 
    <mat-sidenav-content class="router-outlet-container">
      <div class="actions-bar-wrapper">
        <mat-icon class="low-scale">picture_as_pdf</mat-icon>
        <mat-icon class="low-scale">person_add_alt</mat-icon>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #loggedOut>
  <div class="login-card-wrapper">
    <app-login/>
  </div>
</ng-template>
