h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

mat-sidenav-container {
    height:100%;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
    padding-top: 3.5rem;
    transition: width 0.3s ease;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }

  }

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

.expanded {
    width: 250px;   
}

.menu-header-logo-txt, .menu-bar-left-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-toolbar {
    background: #6785C1;
}

.menu-nav-title, .mat-icon-menu {
    color: white;
}

.router-outlet-container {
    padding: 80px 50px;
}

.mat-toolbar {
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5);
}

.actions-bar-wrapper {
    display: flex;
    gap: 20px;
    border-radius: 6px;
    background: #6785C1;
    color: white;
    padding: 12px 24px;
    margin-bottom: 30px;

}

.user-actions-wrapper {
    display: flex;
    color: white;
    gap: 18px;
    align-items: center;
}

mat-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    color: black !important;
  }

  .img-profile-navbar {
    height: 100px;

  }

  .wrapper-profile-img, .user-name-wrapper {
    display: flex;
    justify-content: center;
  }

  .user-name-wrapper {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px 10px 30px;
    text-align: center;
  }

  .is-collapsed-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }